* {
  margin: 0;
  padding: 0;
  /* font-family: axiforma-regular, -apple-system; */
}

.main_container {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}

.home_container {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
  background-image: url("https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg");
  background-size: cover;
  padding-bottom: 120px;
}
.home_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}
.home_top_loge > img {
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.home_top_right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.home_top_right ul li {
  padding: 16px;
  font-size: 20px;
  color: #ffffff;
}

.register_professional {
  border-bottom: 3px solid #ffffff;
}

.home_bottom_text1 {
  font-size: 16px;
  color: #ffffff;
}
.home_bottom_text2 {
  width: 50%;
  font-size: 50px;
  color: #ffffff;
  margin: auto;
  font-weight: 700;
  padding: 0 0 30px 0;
}

.home_bottom {
  text-align: center;
  margin-top: 100px;
}

.home_bottom_text3 {
  width: 60%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
/* ----------------------------------Select Country---------------------------------------------------------- */
.select_country {
  width: 23%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.select_country img {
  height: 25px;
  width: 40px;
}
.select_country p {
  font-size: 18px;
}

/* ---------------------------------------Search icon & input box----------------------------- */
.search_country {
  width: 75%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px;
}

.search_icon {
  width: 10%;
  font-size: 25px;
}

.search_input_box {
  width: 90%;
  margin-left: -20px;
}
.search_input_box input {
  height: 3rem;
  width: 100%;
  font-size: 20px;
  border: none;
}

/* ---------------------------------------------------------------------------------- */

.home_bottom_text4 {
  width: 40%;
  margin: auto;
  padding: 10px 0;
  color: #ffffff;
  font-size: 18px;
}
.home_bottom_text4 span {
  padding: 2px;
}

/* ===============================Home Base components================================== */

.home_base {
  padding: 30px 0;
}

.home_base_up {
  width: 70%;
  height: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: auto;
  padding: 20px;
  position: relative;
  bottom: 100px;

}
.base_up_box {
  height: 130px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base_up_box:hover {
  background-color: rgb(248, 246, 246);
}
.base_up_box_content {
  height: 80%;
  width: 80%;
  /* border: 1px solid red; */
  text-align: center;
}
.base_up_box_content span {
  color: #212121;
  font-size: 14px;
}

.up_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.up_img img {
  height: 40px;
  width: 40px;
}

.home_service_header {
  text-align: center;
  font-size: 40px;
  color: #212121;
  font-weight: 700;
  padding: 40px 0;
}

.home_base_down {
  width: 70%;
  height: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: auto;
  padding: 20px;
}
