* {
  margin: 0;
  padding: 0;
}

.footer_container {
  background-color: black;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  color: #ffffff;
}
.footer_top {
  border-bottom: 2px solid grey;
  width: 90%;
  margin: auto;
}
.footer_top ul {
  display: flex;
  list-style: none;
}
.footer_top ul li {
  padding: 10px;
}
/* ==========================Mid========================================= */
.footer_mid {
  border-bottom: 2px solid grey;
  width: 90%;
  margin: auto;
}

.Footer__countriesRoot li {
  list-style: none;
  text-align: start;
}

.Footer__countriesRoot ul {
  display: flex;
  list-style: none;
}
.Footer__countriesRoot ul li {
  padding: 10px;
  list-style: none;
}
.Footer__countryName_ind {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
}

/* ==========================bottom========================================= */

.footer_bottom {
  width: 90%;
  margin: auto;
  padding: 20px 0;
 
}

.f_logo img {
  height: 50px;
  width: 200px;
  cursor: pointer;
}
.copy_right {
  margin: 10px 0 0 -50px;
}
.copy_right span {
  font-size: 13px;
  color: #ffffff;
}
.footer_icons {
  display: flex;
  margin: 10px 0 0 0px;
}
.footer_icons div {
  font-size: 22px;
  color: #ffffff;
  padding: 7px;
  cursor: pointer;

}

.footer_store {
  display: flex;
}
.footer_store img {
  height: 50px;
  width: 50%;
  cursor: pointer;
}
