* {
  margin: 0;
  padding: 0;
  /* font-family: axiforma-regular, -apple-system; */
}

.appliances_container {
  width: 100%;
  text-align: center;
}

.appliances_content {
  width: 70%;
  margin: auto;
  padding: 70px 0px 0px 0px;
}

.content_img:hover{
  /* border: 1px solid blue; */
  width: 105%;
  height: 169px;
  transition: 0.2s ease;
border-radius: 12px;
}
